@media screen and (max-width: 1000px) {
  .aboutus {
    display: flex;
    flex-direction: column;
  }

  p {
    margin-bottom: 30px;
  }

  .info-group {
    flex-direction: column;
  }

  .info-indiv {
    flex-direction: column;
  }
}

@media screen and (max-width: 690px) {
  .info-indiv {
    flex-direction: column;
  }

  .person1,
  .person2,
  .person3 {
    display: flex;
    flex-direction: column;
  }
}

body {
  background-color: var(--LIGHT);
  color: var(--BACKGROUND);
  height: max-content;
}

.aboutus {
  display: flex;
  flex-direction: column;

  margin: 90px 10% 0 10%;

  height: 100%;
  width: 80%;
}

#title {
  border-left: 6px solid var(--ACCENT);
  margin: 40px 0px 20px 15px;
}

h1 {
  margin-left: 10px;
}

.info-group {
  display: flex;
  align-items: center;
}

.info-group img {
  margin: 10px;
  width: 400px;
  height: 400px;
  border-radius: 10px;
}

.info {
  font-size: 1.2em;
  margin: 0 5%;
}

.info p {
  font-size: 1.15em;
  text-align: justify;
}

.info-indiv img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.info-indiv {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  min-height: 0vmin;
  margin-bottom: 20px;
}

.rrss img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: 10px;
  transition: transform 0.15s ease-in-out;
  cursor: pointer;
}

.person1,
.person2,
.person3 {
  text-align: center;
}

.rrss img:hover {
  transform: scale(1.15);
}

#landing_nav {
  background-color: var(--DARK);
}
