/* #region Table style */
body {
  background-color: var(--BACKGROUND);
}

.intro {
  height: 100%;
}

table {
  text-transform: capitalize;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card {
  border-radius: 0.5rem;
}

.mask-custom {
  background: rgba(24, 24, 16, 0.2);
  border-radius: 2em;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

button i {
  filter: grayscale(1) brightness(10);
  font-style: normal;
}
/* #endregion */

#errorAlert {
  width: 50vw;

  /* center alert middle page */
  inset: 50%;
  transform: translate(-50%, -50%);
}
