* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

.game-wrapper{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
.game-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    position: relative;
    width: 100vw;
    height: 50vh;
    background-color: azure;
}

#plane{
    position: absolute;
    top: 0px;
    left:0px;
    height: 40px;
    width: 40px;
    background-color: blueviolet;
}