* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: black;
    height: 100vh;
    width: 100vw;
}

#game-wrapper {

}

#gp {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#ui {
    position: absolute;
    height: 80%;
    width: 100%;
    border: 4px solid magenta;
    z-index: 900;
}

#map {
    position: relative;
    width: 100vw;
    height: 70vh;
}
.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: repeat-x;
    background-size: 1920px 1080px;
}

#planeScreenZone {
    position: absolute;
    width: 70%;
    height: 100%;
    top: 0;
    border: 4px solid #cc9900;
    /* z-index: 200; */
}

#plane {
    position: absolute;
    width: 50px;
}

#progress-bar {
    position: absolute;
    left: 50%;
    top: 40px;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid red;
    transform: translateX(-50%);
}

#bar {
    width: 100%;
    height: 10px;
    background-color: red;

}

label {color: white;}
input{
    
    margin-right: 100px;
}