@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400;700&family=Space+Mono:wght@400;700&display=swap");

:root {
  --mapSize: 90vmin;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.map-style {
  height: var(--mapSize);
  width: var(--mapSize);
  background-color: rgb(12, 12, 12);
}

#map {
  position: relative;
}

#player {
  position: absolute;
  background-color: #d69b11;
}
