* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #181818;
}

#map {
  display: grid;
  grid-template-columns: repeat(var(--gridSize), var(--gridPx));
  grid-template-rows: repeat(var(--gridSize), var(--gridPx));

  border-radius: 0.5vmin;
  background-color: #dadada;
}

#items_picker {
  width: 8vmin;
  height: 28vmin;

  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(3, 80px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  margin-left: 1vmin;

  border-radius: 1vmin;
  background-color: maroon;
}

#button, #button2 {
  width: 8vmin;
  height: 8vmin;

  margin-top: 1vmin;
  margin-left: 1vmin;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;

  border-radius: 1vmin;
  background-color: maroon;
}

button {
  all: unset;
}

#button:hover, #button2:hover {
  background-color: rgb(157, 44, 44);
}

.start,
.end,
.tree,
.mountain,
.dropSpace {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0.5vmin;
}

#piece {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#piece:hover{
  cursor: pointer;
}