@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400;700&family=Space+Mono:wght@400;700&display=swap");

:root {
  --mapSize: 90vmin;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #030303;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.1em;
  font-weight: bold;

  user-select: none;
}

#stats {
  position: fixed;
  top: 0;
  left: 0;
}

#map {
  height: var(--mapSize);
  width: var(--mapSize);
  position: relative;
}

#player {
  position: absolute;
}

#gameInfo {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: white;
}
