@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&family=Roboto&display=swap");

:root {
  --navbarHeight: 78px;
}

a,
a:link,
a:hover {
  color: unset;
}

/* Disable scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

body {
  height: 100vh;
  width: 100vw;
  scroll-snap-type: y mandatory;
  font-family: "Outfit", sans-serif;
}

/* #region NAVBAR*/
#landing_nav {
  text-transform: uppercase;
  position: fixed;
  top: 0;

  height: var(--navbarHeight);
  width: 100vw;

  background-color: rgba(0, 0, 0, 0);

  transition: background 0.3s ease-in-out;
}

/* Login & language nav items */
#navRightItems {
  position: fixed;
  right: 0;
  color: var(--LIGHT);
}

#navRightItems li a {
  color: var(--LIGHT);
}

#navRightItems:last-child {
  margin-right: 15px;
}

#landing_nav li a {
  color: var(--LIGHT);
}

/* links animation */
/* scale */
.nav-link {
  transform: scale(1);
  transition: transform 0.2s linear;
}

.nav-link:hover {
  transform: scale(1.04);
  transition: transform 0.4s linear;
}

/* underline */
.nav-link:after {
  content: "";
  background-color: var(--ACCENT);
  position: absolute;
  bottom: 6px;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-link:hover:after {
  transition-duration: 0.4s;
  transform: scaleX(0.85);
  transform-origin: center center;
}

#logo:after {
  bottom: 0px;
}

.link-active:after {
  transform: scaleX(0.85);
}
/* #region LOGIN */
#loginPanel,
#registerPanel {
  display: none;
  position: fixed;

  height: 100vh;
  width: 100vw;

  backdrop-filter: blur(15px);
  animation: fade-in 1s ease;
}

#loginIcon,
#languageIcon {
  cursor: pointer;
}

#loginIcon::after,
#languageIcon::after {
  transform: scale(0);
}

#loginPanel button,
#registerPanel button {
  background: rgb(61, 0, 102);
  background: linear-gradient(
    90deg,
    rgba(61, 0, 102, 1) 0%,
    rgba(171, 9, 174, 1) 100%
  );

  padding: 2% 10%;
  border: none;

  margin-bottom: 40px;
}

#loginCard {
  border-bottom: 5px solid var(--ACCENT);
  position: relative;
}

#closePanel {
  position: absolute;

  right: 0;
  top: -30px;

  cursor: pointer;

  filter: brightness(10);
}

#loginCard h3 {
  color: var(--DARK-ACCENT);
  font-weight: 400;
  margin: 10px 0px;
}

#loginCard h5 {
  color: var(--DARK-ACCENT);
  font-weight: 300;
  cursor: pointer;
}

#loginCard h5:hover {
  font-weight: 500;
}

input {
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 0.2em;
  font-size: 1.25em;

  width: 100%;
  border-radius: 10px;

  padding: 5px 0;
  border: none;
  border-bottom: 2px solid #767676;

  transition: all 0.25s ease-in-out;

  margin: 5px;
}

input:focus {
  outline: none;
  border-bottom: 2px solid var(--DARK-ACCENT);
}

input:focus::placeholder {
  color: transparent;
}
/* #endregion */
/* #endregion*/

/* #region CONTENT */
#scroll-container,
.scroll-area {
  height: calc(100vh - var(--navbarHeight));
  width: 100vw;
}


#scroll-container {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.scroll-area {
  scroll-snap-align: end;
}

.scroll-area {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* #region PRESENTATION */
#start {
  height: calc(100vh);

  background: rgb(61, 0, 102);
  background: linear-gradient(
    90deg,
    rgba(61, 0, 102, 1) 5%,
    rgba(0, 0, 0, 1) 65%
  );
}

#claim {
  margin-top: 250px;
  margin-bottom: 60px;

  font-size: 3.5vw;
  font-weight: 500;

  line-height: 1em;
}

#claim span {
  color: var(--ACCENT);
  font-weight: 700;
}

#start img {
  width: 30vw;
  max-width: 600px;
  min-width: 200px;
}

#aboutBtn {
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 600;

  color: var(--SECONDARY-DARK);
  background-color: var(--ACCENT);

  padding: 8px 20px;
  border-bottom: 5px solid var(--DARK-ACCENT);
  border-left: 5px solid var(--DARK-ACCENT);

  transition: box-shadow 0.05s ease-in-out;
}

#aboutBtn:hover {
  box-shadow: 0px 0px 20px 0px var(--DARK-ACCENT);
}
/* #endregion */

/* #region PROBLEM */
#about {
  background: #c94e4b;
}
/* #endregion */

/* #region SERVICES */
#services {
  background: #4cc1be;
}
/* #endregion */

/* #region footer */
#footer {
  flex-direction: column;
  align-items: flex-start;

  height: fit-content;

  color: var(--DARKTEXT);
  font-weight: lighter;

  background-color: var(--LIGHT);
}

.footer-legal {
  font-size: 15;
  /* border-bottom: 1px black solid; */
  text-decoration: none;
  text-decoration-thickness: 1px;
}

.footer-legal:hover {
  text-decoration: underline;
}

.footer-socials img {
  width: 34px;
  margin: 0 30px;
  transition: all 0.15s linear;
}

.footer-socials img:hover {
  transform: scale(1.15);
}

#footer-logo {
  width: 50px;
}

#copy {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
}

#copy a {
  text-decoration: none;
  text-decoration-thickness: 1px;
}

#copy a:hover {
  text-decoration-line: underline;
}

/* #endregion*/
/* #endregion */

/* #region UTILITIES */
#goStartBtn div {
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 50px;

  bottom: 15px;
  right: 15px;

  border-radius: 50%;

  background-color: var(--ACCENT);
  cursor: pointer;
  color: var(--DARK);
  font-size: 1.3em;
}

#goStartBtn {
  opacity: 0;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

#goStartBtn div:hover {
  transform: scale(1.15);
}
/* #endregion */

/* #region KEYFRAME ANIMATIONS */
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
/* #endregion*/