body {
    background-color: var(--LIGHT);
}

.rankings {
    height: 95vmin;
    background-color: var(--BACKGROUND);
    border-radius: 10px;
}

.rankingheader {
    margin: 10px;
}

#title {
    margin: 30px 30px -58px 30px;
    border-left: 6px solid var(--ACCENT);
}

h1 {
    color: var(--LIGHT);
    margin-left: 10px;
}

.gameselection {
    float: right;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    display: block;
}

.gameselection-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.gameselection a {
    color: var(--DARK);
    font-weight: bold;
    padding: 9.5px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.gameselection-content a:hover {
    background-color: var(--ACCENT);
}

.gameselection:hover .gameselection-content {
    display: block;
}

.gameselection:hover .GAME1 {
    background-color: var(--ACCENT);
}

.container,
.others {
    clear: both;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 30px;
}

.others {
    background-color: var(--LIGHT);
}

.name {
    color: var(--LIGHT);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 0 .5rem;
}

.first,
.second,
.third {
    color: var(--SECONDARY-DARK);
    background: linear-gradient(360deg, #510087 -4.39%, #AB09AE 100%);
    border: 2px solid var(--LIGHT);
    border-radius: 5px 5px 0px 0px;
}

.item {
    width: 200px;
}

.rank {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: #fff;
}

.podium .first {
    min-height: 230px;
    color: var(--ACCENT);
}

.podium .second {
    min-height: 130px;
    color: var(--ACCENT);
}

.podium .third {
    min-height: 80px;
    color: var(--ACCENT);
}

#wrapper {
    width: 100%;
}

table {
    border-collapse: collapse;
    background-color: var(--LIGHT);
    display: inline-block;
    overflow: auto;
    text-align: center;
}

th,
td {
    border-bottom: 1px solid var(--DARK-ACCENT);
    width: 500px;
    border: 1px solid black;
    border: 15px;
    padding: 15px;
}

th {
    background-color: var(--DARK-ACCENT);
    color: var(--LIGHT);
}

td {
    background-color: var(--LIGHT);
    color: var(--DARK);
}

thead>tr {
    position: relative;
    display: block;
}

tbody {
    display: block;
    height: 200px;
    overflow: auto;
}