.ranking-bg {
    background-color: #222222;
    width: 100%;
    height: 100vw;
}

.ranking-table {
    position: absolute;
    width: 1099px;
    height: 606px;
    left: 173px;
    top: 261px;

    background: #FAFFFF;
    border: 4px solid #510087;
    border-radius: 15px;
}
