* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--BACKGROUND);
  color: white;
}

#mainContainer {
  margin-top: 130px;
}

/* #region TITLE AND GAME SELECTOR */
#title {
  margin: 0;
  margin-top: 10px;
  display: grid;
}

#gameSelector {
  position: relative;
}

#gameSelector img {
  position: absolute;

  width: 40px;
  height: 60px;

  right: 12px;
  top: 50px;

  border-bottom: 2px solid var(--ACCENT);
}

#gameSelector select {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  text-transform: uppercase;

  color: var(--SECONDARY-DARK);

  border-radius: 0;
}

/* remove blue outline on click */
#gameSelector select:focus,
#gameSelector select:active {
  outline: none;
  box-shadow: none;
}
/* #endregion */

/* #region TOP 3 DISPLAY */
#top3Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#top3 {
  height: 280px;
  width: 75%;
}

#rank1,
#rank2,
#rank3 {
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(81, 0, 135, 1) 0%,
    rgba(171, 9, 174, 1) 100%
  );

  border: 2px var(--LIGHT) solid;
}

#rank1 {
  height: 55%;
}

#rank2 {
  height: 45%;
  border-left: 0;
}

#rank3 {
  height: 35%;
  border-right: 0;
}

#rank1 span {
  font-size: 55%;
  color: rgb(255, 255, 0);
}

#rank2 span {
  font-size: 55%;
  color: rgb(198, 193, 193);
}

#rank3 span {
  font-size: 55%;
  color: rgb(185, 96, 0);
}

#rank1 p,
#rank2 p,
#rank3 p {
  position: absolute;
  width: 100%;

  top: -60px;

  /* Trick to center absolute child in the middle */
  left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;

  line-height: 110%;
  text-align: center;
  font-size: 2.5em;
}

#rank1 div,
#rank2 div,
#rank3 div {
  position: absolute;
  height: 50px;
  width: 50px;

  /* Trick to center absolute child in the middle */
  top: 15px;
  left: 50%;
  transform: translateX(-50%);

  border-radius: 50%;

  background-color: var(--LIGHT);
}

#rank1 div p,
#rank2 div p,
#rank3 div p {
  position: absolute;

  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;

  font-size: 2em;
  font-weight: 600;
  text-align: center;

  color: var(--ACCENT);
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.75));
}
/* #endregion */

/* #region SCORES TABLE */
#scoresTable {
  margin-top: 60px;

  width: 100%;
  height: 40%;
}

.intro {
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead {
  background: linear-gradient(
    90deg,
    rgba(81, 0, 135, 1) 0%,
    rgba(171, 9, 174, 1) 100%
  );
}

thead th {
  color: #fff;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
}

tr:nth-child(odd) {
  background-color: rgba(61, 0, 102, 0.08);
}
/* #endregion */
