@font-face {
  font-family: outfit;
  src: url("../tercers/fonts/Outfit-ExtraLight.otf") format("opentype");
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'outfit', 'Franklin Gothic Medium', 'Arial Narrow';
  height: 100vh;
  width: 100vw;
  color: var(--LIGHT);
  background-color: var(--BACKGROUND);
}