@font-face {
  font-family: outfit;
  src: url("../tercers/font/Outfit-Light.otf") format("opentype");
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'outfit', Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  color: var(--LIGHT);
  background-color: var(--BACKGROUND);
}